* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Anybody", Arial, sans-serif;
    line-height: 1.6;
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    overflow-x: hidden;
}

.d-flex {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
}

.media-block {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: 40%;
}

.containerhed {
    height: 85px;
    width: 100%;
    position: relative; 
    padding: 20px;
    align-content: center;
    align-items: center;
}

.logo {
    height: 95px;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    transition: 0.5s;
}

.logo:hover {
    height: 115px;
}

.instalog {
    height: 30px;
}

.xlog {
    height: 48px;
}

.nav {
    display: flex;
    align-items: center;
    flex-basis: 40%;
    justify-content: flex-end;
}

.button {
    font-size: 1.1em;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #cdcdd3;
    transition: color 0.5s;

}

.button:hover {
    color:rgb(255, 255, 255);
}

.button:hover::after {
    width: 100%;
  }

.content {
    padding: 40px 20px;
    position: relative;
    width: auto;
    margin: 20px 200px;
    display: block;
}

.upcoming {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 3px 3px 0px #000000;
    font-size: 15px;
}

.content-container {
    width: auto;
    padding: 0;
}

.event-description{
    width: auto;
    padding: 10px 10px 10px 0px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 10px 10px 0 0;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    border-bottom: none !important;
}

.event-description:hover {
    background-color: rgba(0, 0, 0, 0.082);
}

.event-widget {
    width: auto;
    padding: 0;
}

.event-date {
    width: auto;
    padding: 10px 10px 0 10px;
    margin: 0;
    color: #ffffff;
    display:block;
    line-height: 0;
}

.text-design {
    text-transform: uppercase;
    font-weight: 700;
    font-weight: bold;
    font-size: 15px !important;
    text-shadow: #000 1px 2px 0px;
}

.event-place {
    width: auto;
    padding: 10px;
    margin: 0;
    color: #ffffff;
}

.container-event {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    flex-wrap: wrap; 
}

.event-place2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    color: #ffffff;
}

.ticket-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 60%;
    transform: translateY(-30%);
    right: 30px;
}

.buttontic {
    width: 123px;
    color: rgb(255, 255, 255);
    background-color:rgb(20, 139, 185);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    height: 32px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none !important;
}

.buttontic:hover {
    background-color: rgb(17, 111, 148);
}

.altbut-container {
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.altbut {
    width: 400px;
    color: rgb(255, 255, 255);
    background-color:rgb(20, 139, 185);
    border-radius: 7px;
    border: none;
    cursor: pointer;
    height: 32px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
}

.altbut:hover {
    background-color:#000;
}

.bloor-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.photo-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1700px;
    position: relative;
}

.bloor-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.photo-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.altheader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1;
}
