

.bloor-container {
    background-image: url("./png/logo.png");
}

.photo-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 10%),url("./png/web-scaled.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; /* Растягивает по ширине, высота сохраняется */
    width: 100%;
    height: 1700px;
    position:relative;
}
